@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-plus-jakarta-sans), ui-sans-serif, system-ui, sans-serif;
  
  --color-primary-green: #16a34a;
  --color-hero-bg: #f0fdf4;
  --color-cta-red: #ef4444;
  --color-dark-text: #111827;
  --color-soft-gray: #f9fafb;
}

body {
  background: var(--background);
  color: var(--color-dark-text);
  font-family: var(--font-plus-jakarta-sans), ui-sans-serif, system-ui, sans-serif;
}
